.category-container {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  color: darkgrey;
  border: 1px solid darkgrey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.category-container:hover {
  transform: scale(1.05);
}
