.checkout-container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
  background-image: linear-gradient(to top, #accbee 0%, #fff1eb 100%);
  border-radius: 0.25rem;

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header-block {
      text-transform: capitalize;
      width: 23%;

      &:last-child {
        width: 8%;
      }
    }
  }

  .total {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    margin-left: auto;
    font-size: 2.3rem;
  }
}

.empty-message {
  color: red;
  font-weight: 900;
  margin: auto;
}

.pay-container {
  width: 65%;
  // display: flex;
}

@media screen and (min-width: 550px) {
  .checkout-container {
    width: 55%;
    margin: 50px auto 20px;
  }
}
