.list {
  // display: flex;
  // justify-content: space-between;
  // flex-wrap: wrap;
  display: block;

  @media screen and (min-width: 1200px) {
    // height: 300px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(330px, 100%), 1fr));
  }
}
