.navigation {
  height: 70px;
  width: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  // margin-bottom: 25px;
  a {
    color: lightblue;
  }

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 8px;
    padding-left: 32px;

    .logo {
      pointer-events: none;
    }
  }
  .user-container {
    color: lightblue;
    cursor: pointer;

    .displayname {
      padding: 0 10px;
    }

    .user-logo {
      padding: 0px 10px;

      pointer-events: none;
      height: 15px;
      width: 15px;
      border-radius: 50%;
    }
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    padding-right: 40px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 10px;
      cursor: pointer;
      line-height: 20px;
    }
    .sign-in-link {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
