.sign-in-container {

  h2 {
    margin: 10px 0;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
  }
  .group {
    .form-input {
      background-color: #e3edfb;
      color: black;

      &:focus {
        outline: none;
      }
    }

    input[type="password"] {
      letter-spacing: 0.3em;
    }
  }
}