.category-preview-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 20px 40px;

  .shop__category-preview-title {
    font-size: 28px;
    margin-bottom: 13rem;
    cursor: pointer;
  }

  .preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
  }
}