.shop-container {
  padding: 20px 40px;
  margin-bottom: 2rem;

  .shop__category-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 50px;
  }

  .shop__category-title {
    font-size: 38px;
    margin-bottom: 25px;
    text-align: center;
    cursor: pointer;
  }
}