.card {
  border-radius: 4px;
  overflow: hidden;
  padding: 1rem 0;
  @media (min-width: 810px) and (max-width: 1199px) {
    padding: 1rem 6rem;
    
  }
// TODO: CLEAN UP->OLD CARD->styled
  // width: 90vw;
  // // width: 100px;
  // @media screen and (min-width: 1200px) {
  //   width: 350px;
  // }
  // @media screen and (min-width: 1600px) {
  //   // width: 20vw;
  //   width: 400px;
  // }

  // display: flex;
  // flex-direction: column;
  // gap: 10px;
  // margin-bottom: 50px;

  .card-image {
// TODO: CLEAN UP->OLD CARD-image->styled
    // height: 500px;
    // @media (min-width: 810px) and (max-width: 1199px) {
    //   height: 800px;
    //   max-width: 1100px;
    // }
    
    
    height: 500px;
    // width: 100%;

    @media screen and (min-width: 1200px) {
      height: 300px;
    }
    @media screen and (min-width: 1600px) {
      height: 400px;
    }

    overflow: hidden;
    position: relative;

    &:hover {
      .secondImg {
        z-index: 2;
        transform: scale(1.1);
        transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }

    .mainImg {
      z-index: 1;
    }

    span {
      position: absolute;
      top: 5px;
      left: 5px;
      background-color: white;
      color: teal;
      padding: 3px 5px;
      z-index: 3;
      font-weight: 500;
      font-size: 12px;
    }
  }

  h2 {
    // font-size: 16px;
    // font-weight: 400;
    text-align: start;

        font-family: "Afacad", "Afacad Placeholder", sans-serif;
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
    
      font-size: 22px;
    
      letter-spacing: 0em;
      line-height: 1.6em;
      paragraph-spacing: 20px;
      text-alignment: start;
      text-decoration: none;
      text-transform: uppercase;
      transition: color 0.3s cubic-bezier(0.44, 0, 0.56, 1) 0s;
    &:hover {
    
      text-decoration: underline;
    }
    
  }

  .prices {
    display: flex;
    // justify-content: flex-end;
    gap: 20px;

    h3 {
        font-family: "Poppins", "Poppins Placeholder", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0em;
        line-height: 1.6em;
        paragraph-spacing: 20px;
        text-alignment: start;
        text-decoration: none;
        text-transform: capitalize;

      // font-size: 18px;
      // font-weight: 500;

      &:first-child {
        color: gray;
        text-decoration: line-through;
      }
    }
  }
}
// TODO: SERENA CARD
.serena-card {
  border-radius: 4px;
  overflow: hidden;
  padding: 1rem 0;
  @media (min-width: 810px) and (max-width: 1199px) {
    padding: 1rem 6rem;
    
  }


.card-image {
  // height: 100%;
  // width: 100%;
  height: 500px;
  // width: 300px;
  @media (min-width: 810px) and (max-width: 1199px) {
    height: 800px;
    max-width: 1100px;
    
  }

  @media screen and (min-width: 1200px) {
    // height: 300px;
  }
  @media screen and (min-width: 1600px) {
    // height: 400px;

  }

  overflow: hidden;
  position: relative;

  &:hover {
    .secondImg {
      z-index: 2;
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
  }

  img {
    width: 100%;
    // height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  }

.text {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  height: auto;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 1;

a{    font-family: "Afacad", "Afacad Placeholder", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  font-size: 22px;

  letter-spacing: 0em;
  line-height: 1.6em;
  paragraph-spacing: 20px;
  text-alignment: start;
  text-decoration: none;
  text-transform: capitalize;
  transition: color 0.3s cubic-bezier(0.44, 0, 0.56, 1) 0s;
&:hover {

  text-decoration: underline;
}
}
p{
  font-family: "Poppins", "Poppins Placeholder", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.6em;
  paragraph-spacing: 20px;
  text-alignment: start;
  text-decoration: none;
  text-transform: capitalize;
}
}
}
