// TODO: ->styled
.bestseller-card {
  margin: 0.2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  // border-radius: 25px 25px 0 0;

  .card-image {
    // width: 100%;
    height: calc(18vw + 3rem);
    // overflow: hidden;
    position: relative;

    &:hover {
      .secondImg {
        z-index: 2;
        transform: scale(1.1);
        transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }

    .mainImg {
      z-index: 1;
    }

    span {
      position: absolute;
      top: 5px;
      left: 5px;
      background-color: white;
      color: teal;
      padding: 3px 5px;
      z-index: 3;
      font-weight: 500;
      font-size: 12px;
    }
  }

  h2 {
    // TODO: SET the texts on the cards (unified and responsive/user friendly)
    font-family: var(--font-family);
    font-optical-sizing: auto;
    font-weight: 500;
    // font-weight: 400;
    font-style: normal;

    font-size: 1em;
    // font-size: 22px;

    letter-spacing: 0em;
    line-height: 1.6em;
    paragraph-spacing: 20px;
    text-alignment: start;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s cubic-bezier(0.44, 0, 0.56, 1) 0s;

    &:hover {
      text-decoration: underline;
    }
  }

  .prices {
    display: flex;
    justify-content: flex-end;
    gap: 20px;

    // TODO: SET the prices/numbers on the cards (unified and responsive/user friendly)
    h3 {
      font-family: var(--font-family-numbers);

      font-size: 0.8em;
      font-weight: 500;

      font-style: normal;
      letter-spacing: 0em;
      line-height: 1.6em;
      paragraph-spacing: 20px;
      // text-alignment: start;
      text-decoration: none;

      &:first-child {
        color: gray;
        text-decoration: line-through;
      }
    }
  }
}
