.contact {
  min-height: calc(5vw + 5rem);
  font-size: calc(1vw + 1rem);

  font-family: "Afacad", "Afacad Placeholder", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -1px;

  background-color: #4170e8;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: center;

  .wrapper {
    // flex:1;
    display: flex;
    align-items: center;
    // justify-content: space-between;

    span {
      flex: 3;
      text-align: start;
    }
    .mail {
      flex: auto;
    }

    input {
      flex: 2;

      padding: 10px;
      border: none;
      border-radius: 5px 0 0 5px;
    }

    button {
      flex: 1;

      padding: 10px;
      color: white;
      background: #333;
      border-radius: 0 5px 5px 0;
      border: none;
    }

    .icons {
      display: flex;
      gap: 10px;
    }
  }
}
