.contact {
  background-color: #4170e8;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: center;
  min-height: 5rem;

  .wrapper {
    // flex:1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      flex: 3;
    }
    .mail {
      flex: auto;
    }

    input {
      flex: 2;

      padding: 10px;
      border: none;
      border-radius: 5px 0 0 5px;
    }

    button {
      flex: 1;

      padding: 10px;
      color: white;
      background: #333;
      border-radius: 0 5px 5px 0;
      border: none;
    }

    .icons {
      display: flex;
      gap: 10px;
    }
  }
}
