/* Authentication page: 
mobile-first: On screens that are 600px wide or more, there is one column in a row */
.authentication-container {
  margin: 15px;
}

/*  On screens that are 769px wide or more, there is one column in a row,
On screens that are 769px wide or more, make the columns in the middle */
@media screen and (min-width: 769px) {
  .authentication-container {
    display: flex;
    width: 769px;
    justify-content: space-between;
    margin: 20px auto;
  }
  .column {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
}

/*  On screens that are 900px wide or more, go from one column to two columns, 
so make the columns stack on top of each other instead of next to each other */
@media screen and (min-width: 900px) {
  .authentication-container {
    display: flex;
    width: 900px;
    justify-content: space-between;
    margin: 30px auto;
  }
  .column {
    display: flex;
    flex-direction: column;
    width: 380px;
  }
}

/* On screens that are 600px wide or more, make the columns in the middle */
// @media screen and (min-width: 600px) {
//   .authentication-container {
//     margin: 20px auto;
//   }
// }
