.products {

  padding: 30px 10px;
  @media screen and (min-width: 700px) {
    
    display: flex;

    .left {
      flex: 1;
      position: sticky;
      height: 100%;
      top: 50px;
  }
  }

  .left {
    margin-bottom: 30px;

    .filterItem {
      margin-bottom: 30px;

      h2 {
        font-weight: 400;
        margin-bottom: 20px;
      }

      .inputItem {
        margin-bottom: 10px;
        label {
          margin-left: 10px;
        }
      }
    }
    // input[type="range"] {
    //   -webkit-appearance: none;
    //   height: 7px;
    //   background: grey;
    //   border-radius: 5px;
    //   background-image: linear-gradient(#d46a6a, #d46a6a);
    //   background-repeat: no-repeat;
    //   cursor: pointer;
    //   box-shadow: 0 0 2px 0 #555;
    // }
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background: #d46a6a;
      cursor: grab;
      box-shadow: 0 0 2px 0 #555;
    }
    input[type="range"]::-webkit-slider-thumb {
      // ...other styles;
      transition: background 0.3s ease-in-out;
    }
    input[type="range"]::-webkit-slider-thumb:hover {
      box-shadow: #d46a6a50 0px 0px 0px 8px;
    }

    input[type="range"]::-webkit-slider-thumb:active {
      box-shadow: #d46a6a50 0px 0px 0px 11px;
      transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        left 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        bottom 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }
    button {
      padding: 10px;
      color: white;
      background: #333;
      border-radius: 0 0 5px 5px;
      border: none;
      cursor: pointer;
    }
  }

  .right {
    flex: 3;

    .catImg {
      width: 100%;
      height: 300px;
      object-fit: cover;
      margin-bottom: 50px;
    }
  }
}
