@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");

:root {
  --font-family: "Open Sans Condensed", sans-serif;
  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-bg: #ffffff;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #81afdd;
  --color-subtext: #ff8a71;
}

body {
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-bg);
  background: linear-gradient(
    90deg,
    rgb(255, 254, 254) 10%,
    rgb(41, 135, 197) 53%,
    rgb(155, 195, 204) 95%
  );
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border;
  scroll-behavior: smooth;
  // padding: 0;
  margin: 0;
}

/* BACKGROUND SETTINGS:APP-> gradient/gradient__bg... világos színátmenetet lehet, hogy visszahelyezem, ha túl sötét lesz így */
.gradient__bg {
  background: -moz-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );
}

// TODO: clean if not used elsewhere: Footer?
.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// MY MOBILE FIRST DESIGN for SHOP's containers
.section__width {
  // width: 100%;
}

.section__padding {
  padding: 1.5rem;
}

.section__margin {
  // margin: 0;
  margin-bottom: 1rem;
}

@media screen and (min-width: 900px) {
  .section__margin {
    margin: 6.5rem auto 6.5rem;
  }
  .section__padding {
    padding: 1.5rem 3rem;
  }
}

// @media screen and (min-width: 550px) {
//   .section__padding {
//     padding: 1.2rem 2rem;
//   }

//   .section__margin {
//     margin: 2.5rem auto 2.5rem;
//   }
// }

// @media screen and (min-width: 769px) {
//   .section__padding {
//     padding: 1.5rem 3rem;
//   }

//   .section__margin {
//     margin: 3.5rem auto 3.5rem;
//   }
// }

@media screen and (min-width: 1200px) {
  .section__width {
    width: 55%;
  }

  .section__margin {
    margin: 7.5rem auto 7.5rem;
  }
}
// @media screen and (min-width: 1200px) {
//   .section__width {
//     width: 85%;
//   }

//   .section__margin {
//     margin: 7.5rem auto 7.5rem;
//   }
// }
